body.app-center {
  background-color: rgba(black, 0.1);
}

.card {
  margin: 0 auto;
  width: 40rem;
}

.nav {
  .nav-divider {
    border-left: 1px solid rgba($white, 0.5);
    margin: 0.6rem 0.8rem;
  }
}

.border-actions {
  border-color: $gray-400 !important;
}

.border-title {
  border-color: $gray-800 !important;
}

.truncate {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.files-list {
  .truncate {
    width: 20em;
  }
}