// Déclaration de la police Teko
@font-face {
  font-family: 'Teko';
  src: local('Teko'), url(./assets/fonts/Teko/Teko-Light.ttf) format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Teko';
  src: local('Teko'), url(./assets/fonts/Teko/Teko-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Teko';
  src: local('Teko'), url(./assets/fonts/Teko/Teko-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Teko';
  src: local('Teko'), url(./assets/fonts/Teko/Teko-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Teko';
  src: local('Teko'), url(./assets/fonts/Teko/Teko-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}
